* {
  margin: 0;
  padding: 0;
}

body {
  padding: 12px;
}

.app {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: flex-start;
}

.app>div {
  width: 29%;
  border: 1px solid lightgrey;
  padding: 12px;
  min-height: 200px;
}

h3 {
  padding-bottom: 6px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 12px;
}

button {
  padding-top: 2px;
  flex: none;
}
